@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    nav {
        padding: 4px;
        max-width: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    content {
        padding: 4px;
        max-width: fit-content;
        display: flex;
        align-items: center;
        color: aliceblue;
    }

}

.nav-link {
    width: 8px;
    height: 8px;
    overflow: auto;
    color: white;
    padding: 4px;
    margin-right: 20px;
}

/*registration title*/

.title {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-left: 3px;
    font-weight: bold;
    font-family: sans-serif;
}

/*form styling*/
.main {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 6px;
    width: auto;
    height: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input {
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    max-width: auto;
    border-color: rgba(17, 85, 128, 0.338);
}

.form {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 7px;
    background: rgba(17, 85, 128, 0.338);
    margin-top: 7px;
    border-radius: 9px;
}

.label {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 7px;
}


/*Register button*/
.btn {
    border-radius: 8px;
    padding: 2px;
    border: 2px solid rgb(65, 127, 168);
    margin: 8px;
    height: 30px;
    width: auto;
    transition: .4s;

}

.btn:hover {
    color: rgb(102, 133, 214);
    transition: .4s;
    background-color: rgb(12, 15, 18);
}

/*DROPDOWN MENU 
.menu .round-btn .dropdown{

    align-items: center;
    display: flex;
    justify-content: center;
    padding: 7px;
    background: rgba(17, 85, 128, 0.338);
    margin-top: 7px;
    border-radius: 9px;

}

.round-btn{
   
    padding: 7px;
    background: rgba(17, 85, 128, 0.338);
    margin-top: 7px;
    border-radius: 9px;
}

.dropdown{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 7px;
    background: rgba(17, 85, 128, 0.338);
    margin-top: 7px;
    border-radius: 9px; 
}*/

